 <%= render 'shared/header' %>
	
   
<p id="notice"><%= notice %></p>
<style>
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

tr:hover{background-color:#f5f5f5}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
 
  text-align: center;
}

#page {
  margin-left:auto;
  margin-right:auto;
  width:960px;
}
.button {
                position:relative;
                padding:6px 15px;
                left:-8px;
                border:2px solid #207cca;
                background-color:#207cca;
                color:#fafafa;
				height: 35px;
			
}
.button:hover  {
                background-color:#fafafa;
                color:#207cca;
}
</style>

  <script>
    function Check(frm){
      var checkBoxes = frm.elements['inactive_ids[]'];
      for (i = 0; i < checkBoxes.length; i++){
        checkBoxes[i].checked = (selectControl.innerHTML == "Select All") ? 'checked' : '';
      }
      selectControl.innerHTML = (selectControl.innerHTML == "Select All") ? "Unselect All" : 'Select All';
    }

    window.onload = function(){
		
      var selectControl = document.getElementById("selectall");
      selectControl.onclick = function(){Check(document.check_all)};
   
     
   
	
	};
	
	 

	(function()
	{
	  if( window.localStorage )
	  {
	    if( !localStorage.getItem( 'firstLoad' ) )
	    {
	      localStorage[ 'firstLoad' ] = true;
	      window.location.reload();
	    }  
	    else
	      localStorage.removeItem( 'firstLoad' );
	  }
	})();

	 
  </script>
	
	
	<div id="page">
<center><h1>In-active Reports</h1> </center>
	  <%= form_tag checkactivate_infos_path, :name => "check_all", :method => :put do %><%= submit_tag "Activate Informations", :class => "button"%><br> <br> <br> 
 <table border=".5" class="table">

 
   <tbody>

       <thead>
         <tr class="danger"><th>    <label for="selectall" id="selectControl">Select All</label>
      <input type="checkbox" id="selectall" /> </center></th>
	   <th><%= sortable "title" %> <%= arrow %></th>
	   <th><%= sortable "description" %> <%= arrow %></th>
	   <th><%= sortable "responsible" %> <%= arrow %></th>
           <th>Note</th>
           <th>Solution</th>
       <th>Category</th>
       <th>Is active</th>
      <th colspan="2"></th>
        </tr>
      </thead>
 
 
	
 
     <% for inactive in @inactive_information.is_inactive.each %> 


       <tr> <td><%= check_box_tag "inactive_ids[]", inactive.id %></td>
          <td><%=link_to truncate(inactive.title, :length => 40), inactive %></td>
         <td><%= truncate(inactive.description, :length => 40) %></td>
         <td><%= truncate(inactive.responsible, :length => 40) %></td>
         <td><%=  truncate(inactive.note, :length => 40) %></td>
         <td><%= truncate(inactive.solution, :length => 40) %></td>
     <td><%= inactive.category_id %></td>
     <td><%= inactive.is_active %></td>
    
     <td><%= link_to 'Edit', edit_info_path(inactive) %></td>
     <td><%= link_to 'Activate', inactive, method: :delete, data: { confirm: 'Are you sure?' } %></td>
	 
	
       </tr>
     <% end %>
	 



   </tbody>
 </table> <%end%>
<br> 
<center>
<%= will_paginate @inactive_information.is_inactive, renderer: BootstrapPagination::Rails, previous_label: "Previous", next_label: "Next", inner_window: 0, outer_window: 0 %>
 
</center> </div>